.item {
  font-size: 1rem;
  line-height: 1.5;
  list-style: inside;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.link {
  display: inline-block;
  text-decoration: underline;

  @media (width >= 768px) {
    &:hover {
      text-decoration: none;
    }
  }
}
