.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (width >= 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.item {
  filter: brightness(1);
  transition: filter 300ms;

  @media (width >= 768px) {
    &:hover {
      filter: brightness(0.9);
    }
  }
}
