.item {
  margin-left: 2em;
  font-size: 1rem;
  line-height: 1.5;
  text-indent: -2em;
  counter-increment: cnt;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &::before {
    content: counter(cnt, decimal-leading-zero) '. ';
  }
}

.text {
  padding-left: 2em;
}
